.about {
  position: relative;
  width: 100%;
  @media screen and (width: 375px) {
    height: 476px;
  }

  & > .wrapper {
    display: flex;
    height: 755px;
    width: 100%;
    background: #131313;

    & > .about__instagram {
      margin-top: 284px;
      align-self: flex-start;

      font-family: FuturaDemiC;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;

      color: #E3B873;
      background: #131313;
      transform: rotate(90deg);
      @media screen and (width: 375px) {
        display: none;
      }
    }

    & > .about__image {
      max-height: 707px;
      max-width: 1358px;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/main_image.png);
      background-size: cover;
      height: 100%;
      width: 100%;
      float: right;

      @media screen and (width: 375px) {
        max-width: 375px;
        max-height: 476px;
      }

      & > .image__content {
        margin-left: 60px;
        margin-top: 194px;

        @media screen and (width: 375px) {
          margin: 0;
        }

        & > .image__title {

          font-family: Yeseva One;
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;

          color: #FFFFFF;

          @media screen and (width: 375px) {
            font-size: 23px;
            line-height: 31px;

            margin: 85px 18px 16px;
          }
        }

        & > .image__description {
          font-family: FuturaBookC;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 30px;
          padding-top: 19px;

          color: #FFFFFF;

          @media screen and (max-width: 375px) {
            display: none;
          }
        }

        & > .image__description-mobile {
          display: none;
          font-family: FuturaBookC;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 24px;

          margin-left: 18px;

          color: #FFFFFF;

          @media screen and (max-width: 375px) {
            display: block;
          }
        }

        & > .button_container {
          display: flex;
          margin-top: 41px;

          @media screen and (max-width: 375px) {
            flex-direction: column;
            margin-top: 32px;
          }

          & > .image__calculate_button {
            height: 51px;
            width: 207px;

            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border-radius: 2px;

            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 51px;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;

            @media screen and (max-width: 375px) {
              width: auto;
              margin-left: 18px;
              margin-right: 18.39px;
            }
          }

          & > .image__submit_button {
            width: 207px;

            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 51px;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;

            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 2px;
            margin-left: 20px;

            @media screen and (max-width: 375px) {
              width: auto;
              margin-left: 18px;
              margin-right: 18.39px;
              margin-top: 26px;
            }
          }
        }

      }
    }
  }

  &__scroll_down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    width: 247px;

    background: #131313;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    @media screen and (width: 375px) {
      display: none;
    }

    & > span {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 97px;
      text-transform: uppercase;
      //text-align: center;

      color: #ffffff;
    }

    & > .circle {
      height: 29px;
      width: 29px;
      border-radius: 50%;
      border: 1.5px solid #e3b873;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      & > .arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        align-self: center;

        border-top: 5px solid #e3b873;
        margin: 0 auto;
      }
    }
  }

}

