.completedProjects {
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  background: #131313;
  @media screen and (max-width: 375px) {
    flex-direction: column;
  }

  & > .description {
    width: 442px;
    margin-top: 128.36px;
    margin-bottom: 163.64px;
    margin-left: 101px;

    @media screen and (max-width: 375px) {
      max-width: 375px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    & > .description__grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2vw;

      @media screen and (max-width: 375px) {
        order: 2;
        grid-row-gap: 27px;
        grid-column-gap : 51px;
        margin-bottom: 57px;
      }

      & > div > .value {
        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;
        @media screen and (max-width: 375px) {
          font-size: 14px;
          line-height: 19px;
          margin-top: 13px;
        }

      }

      & > div > .key {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;

        color: #E3B873;

        @media screen and (max-width: 375px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    & > .description__desc {
      font-family: FuturaBookC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 29px;

      color: #FFFFFF;

      @media screen and (max-width: 375px) {
        display: none;
      }
    }

    & > .description__slider-mobile {
      display: none;
      @media screen and (max-width: 375px) {
        display: flex;
        margin-top: 36px;
        margin-bottom: 36px;
      }

      & > .slider__first {
        margin-left: 18px;
        margin-right: 17px;

        img {
          max-height: 241px;
          width: auto;
        }
      }
    }

    & > .description__desc-mobile {
      display: none;
      @media screen and (max-width: 375px) {
        display: block;
        margin-top: 22px;

        font-family: FuturaBookC;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* or 22px */

        color: #FFFFFF;
      }
    }

    & > .description__title {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07m;
      text-transform: uppercase;

      color: #E3B873;

      @media screen and (max-width: 375px) {
        display: none;
      }
    }

    & > .description__title-mobile {
      display: none;
      @media screen and (max-width: 375px) {
        display: block;

        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: -0.07m;
        text-transform: uppercase;

        margin: 37px auto 0;

        color: #E3B873;
      }
    }
  }

  & > .pictures {
    margin-left: 50px;
    @media screen and (max-width: 375px) {
      display: none;
    }

    & > .titles {
      display: flex;
      justify-content: space-between;
      width: 624px;
      margin-top: 59px;

      @media screen and (max-width: 375px) {
        display: none;
      }

      & > .inactive {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.3);
      }

      & > .selected {
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;

        color: #E3B873;
      }
    }

    & > .slider {
      margin-top: 45px;
      display: flex;
      max-height: 482px;
      width: 100%;
      overflow: hidden;

      & > .slider__first {
        //display: flex;
        max-width: 679px;
        overflow: hidden;
        //width: 649px;
        //background: url(../images/slider-image-one.png) no-repeat;
        //background-size: cover;

        & > img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      & > .slider__second {
        max-width: 679px;
        margin-left: 21px;
        //background: url(../images/slider-image-two.png) no-repeat;

        & > img {
          height: 100%;
          display: block;
        }
      }
    }
  }

  @media screen and (width: 375px) {
    height: 728px;
  }

}
