.map {
  position: relative;
  width: 100%;
  height: 555px;
  background: rgba(24, 24, 24, 0.9);
  z-index: 1;

  @media screen and (max-width: 375px) {
    order: 1;
    height: 255px;
    background: #181818;
  }

  .map__image{
    max-height: 465px;
    max-width: 925px;
    margin: 43px auto 0;


    @media screen and (width: 375px) {
      max-height: 255px;
      max-width: 340px;

      img {
        width: 100%;
        height: 255px;
        display: block;
      }
    }
  }
}
