* {
  margin: 0;
}

header {
  margin : 0 auto;
  max-width: 1440px;
  height: 83px;
  background: black;
  @media screen and (width: 375px) {
    max-width: 375px;
    height: 57px;
  }
}

main {
  display : flex;
  flex-direction : column;
  margin : 0 auto;
  max-width: 1440px;
  max-height: 10150px;
  @media screen and (width : 375px){
    max-width: 375px;
    max-height: 8796px;
  }
}

.presentation {
  position: relative;
  width: 100%;
  height: 755px;
  background: red;
  @media screen and (width: 375px) {
    height: 476px;
  }
}

.completedProjects {
  position: relative;
  width: 100%;
  height: 682px;
  left: 0;
  background: orange;
  @media screen and (width: 375px) {
    height: 728px;
  }
}

.online-control {
  position: relative;
  width: 100%;
  height: 844px;
  left: 0px;
  background: yellow;
  @media screen and (width: 375px) {
    height: 540px;
  }
}

.broadcast-request {
  position: relative;
  width: 100%;
  height: 233px;
  left: 0px;
  background: green;
  @media screen and (width: 375px) {
    height: 311px;
  }
}

.types-of-repair {
  position: relative;
  width: 100%;
  height: 848px;
  left: 0;
  background: lightblue;
  @media screen and(width: 375px) {
    height: 1975px;
  }
}

.measurer-request {
  position: relative;
  width: 100%;
  height: 901px;
  background: blue;
  @media screen and (width: 375px) {
    display: none;
  }
}

.showcase {
  position: relative;
  width: 100%;
  height: 1017.86px;
  background: purple;
  @media screen and (width: 375px) {
    height: 364px;
  }
}

.design-projects {
  position: relative;
  width: 100%;
  height: 1008px;
  background: coral;
  @media screen and (width: 375px) {
    height: 1812px;
  }
}

.how-are-we-working {
  position: relative;
  width: 100%;
  height: 686px;
  background: forestgreen;
  @media screen and (width: 375px) {
    display: none;
  }
}

.our-team {
  position: relative;
  width: 100%;
  height: 965px;
  background: darkslateblue;
  @media screen and (width: 375px) {
    height: 1705px;
  }
}

.our-clients {
  position: relative;
  width: 100%;
  height: 770px;
  background: darkslategray;
  @media screen and (width: 375px) {
    display: none;
  }
}

.questions {
  position: relative;
  width: 100%;
  height: 533px;
  background: aquamarine;
  @media screen and (width: 375px) {
    height: 543px;
  }
}

.contacts {
  position: relative;
  width: 100%;
  height: 161px;
  background: palevioletred;
  @media screen and (width: 375px) {
    order : 2;
    height: 213px;
  }
}

.map {
  position: relative;
  width: 100%;
  height: 555px;
  background: darkcyan;
  @media screen and (width: 375px) {
    order : 1;
    height: 255px;
  }
}

footer {
  margin : 0 auto;
  max-width: 1440px;
  height : 133px;
  background: lightyellow;
  @media screen and (width: 375px) {
    display : none;
  }
}
